/**************************************
                Header
***************************************/
header {
    display: table-row;
    background: #FFFFFF;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
    padding-bottom: 10px;
    height: 100px;
}

header nav {
    display: block;
    text-align: center;
    height: 80px;
}

header img {
    display: none;
}

header img.mainLogo {
    display: inline;
}

header nav a.logo {
    display: inline-block;
    background-color: white;
    height: 6rem;
    width: 57%;
    float: top;
}

header .logo img {
    width: auto;
    height: 100%;
}

div.topnav {
    overflow: hidden;
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.24);
}

.topnav #myLinks {
    display: none;
}

.topnav a {
    color: #000000;
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    display: block;
}

.topnav div a {
    height: 90px;
    font-size: 3.2rem;
    margin: 1rem 0;
    padding: 1rem 0;
}

.topnav a.acc {
    background-color: #46A5EA;
}

.topnav a.equ {
    background-color: #e63b3b;
}

.topnav a.syn {
    background-color: #F2AF03;
}

.topnav a.mon {
    background-color: #E4DE3C;
}

.topnav a.icon {
    background: #ffffff;
    color: black;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    width: auto;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
}

.topnav div a:hover {
    color: white;
}

i.fa.fa-bars {
    font-size: 50px;
}

/**************************************
                General
***************************************/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    color: #0164b5;
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    height: 100%;
    display: table;
}

main {
    display: table-row;
}

p {
    font-family: Poiret One, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 31px;
    margin-left: 11px;
    margin-right: 11px;
    color: black;
}

h1 {
    font-family: Centaur, serif;
    font-size: 48px;
    line-height: 55px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.035em;
    text-decoration-line: underline;
    color: black;
}

a {
    color: #f1ae03;
}

/**************************************
                Footer
***************************************/
footer {
    display: table-row;
    background: #f1ae03;
    text-align: center;
    height: 100px;
    box-shadow: inset 2px 4px 4px rgba(0, 0, 0, 0.25);

}

footer div {
    display: inline-block;
    margin-top: 32px;
    margin-bottom: 10px;
}

footer nav {
    display: inline-block;
}

footer img {
    margin: 0 12px;
    width: 4rem;
}

footer p {
    padding-bottom: 12px;
    margin: 0;
    font-family: Centaur, serif;
}

/**************************************
             Page-accueil
***************************************/
.page-accueil main div.mugiwara img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 3px solid #0F0F0F;
    box-sizing: border-box;
    height: 100%;
    width: 90%;
    max-width: 30rem;
}

.page-accueil main div.mugiwara {
    text-align: center;
}
.page-accueil div.one-piece {
    display: none;
}

/**************************************
             Page-Equipage
***************************************/
.page-equipage table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.page-equipage table td, table th {
    border: 2px solid black;
    vertical-align: center;
    text-align: center;
    font-family: Poiret One, serif;
    font-size: 14px;
    padding: 15px 15px;
    font-weight: bold;
    color: black;
    width: auto;
}

.page-equipage table th {
    padding: 5px;
}

.page-equipage main img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 3px solid #0F0F0F;
    box-sizing: border-box;
    width: 6rem;
}

.page-equipage main div {
    text-align: center;
}

.page-equipage table.rouge {
    background: #E63B3B;
}

.page-equipage table.orange {
    background: #F2AF03;
}

.page-equipage table.jaune {
    background: #E4DE3C;
}

.page-equipage table.bleu-clair {
    background: #46A5EA;
}

.page-equipage table.bleu-fonce {
    background: #4063BD;
}

/**************************************
             Page-Synopsis
***************************************/
.page-synopsis {
    text-align: center;
}

.page-synopsis main img {
    width: 100%;
}

.page-synopsis main div.roger, div.shanks, div.fruit {
    max-width: 20em;
    width: auto;
    margin: 0 auto;
}

.page-synopsis div.roger {
    display: flex;
    align-items: center;
    background: #E63B3B;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-synopsis div.roger p {
    font-family: Centaur, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: center;
    margin: auto;
}

.page-synopsis div.shanks {
    align-items: center;
    background: #F2AF03;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
}

.page-synopsis div.shanks p {
    display: inline-block;
    font-family: Centaur, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: center;
    margin: 17px;
}

.page-synopsis div.fruit {
    display: flex;
    align-items: center;
    background: #f3f249;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
}

.page-synopsis div.fruit p {
    font-family: Centaur, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.035em;
    text-align: center;
    margin: auto;
}

/**************************************
             Page-Monde
***************************************/
.page-monde {
    text-align: center;
}

.page-monde div h2 {
    font-family: Centaur, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140.62%;
    /* or 34px */

    text-align: center;
    text-decoration-line: underline;
    color: #0F0F0F;
}

.page-monde div ul li {
    font-family: Poiret One, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 140.62%;
    color: #000000;
    margin-right: 7%;
}

.page-monde div.liste-puce {
    background: #46A5EA;
    padding-bottom: 7px;
    margin: 14px;
}

.page-monde main img {
    width: 70%;
    max-width: 20rem;
}















